<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin{% endblock %} - AFCON Admin</title>
    <!-- Path to your CSS file in the admin subfolder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>